<link href="../static/plugins/ep_locker/static/css/lock.css"
      rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<li class="lock-button-group" id="lock-button-section" data-type="button" data-key="Lock editing">
    <a class="grouped-right"
       title="Lock editing"
       aria-label="Lock editing">
        <button class="material-icons"
                title="Lock editing" aria-label="Lock editing" id="lock-button" data-locked="unlocked">
            lock
        </button>
    </a>
</li>
