<link href="../static/plugins/ep_locker/static/css/lock.css"
      rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<li class="upload-media-button-group" id="upload-media-button-section" data-type="button" data-key="Upload video">
    <a class="grouped-right"
       title="Upload video"
       aria-label="Upload video">
        <button class="material-icons"
                title="Upload video" aria-label="Upload video" id="media-upload-button">
            video_library
        </button>
    </a>
</li>
